.animate-line-load {
    animation: line-load 1.5s infinite;
  }
  
  @keyframes line-load {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  